  <div class="container">
    <h1>www.seniorlivingservice.com</h1>
    
      <div class="company-info">
        <h3>Senior Living Services</h3>
        <ul>
          <li>1234 Something st</li>
          <li>(310) 333-3333</li>
          <li>seniorlivingervices@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form class = "create-form">
          Name:
          <input id="name" type="text" name="name">
          Service:
          <input id="serv" type="text" name="Service" list="services">
            <datalist id="serv">
              <option value="Independant Living">
              <option value="Assisted Living">
              <option value="Memory Care"> 
              <option value="Other">
              <option value="None">
            </datalist>            
          Email Address:
          <input id="email" type="email" name="email">
          Phone Number:</label>
          <input id="phone" type="text" name="phone">
          Location:
          <input id="zip" type="text" name="location">
          <button id="submitBtn">Submit</button>
        </form>
      </div>
    
  </div>