  <div class="container">
    <h1>www.seniorlivingservice.com</h1>
    
      <div class="company-info">
        <h3>Senior Living Services</h3>
        <ul>
          <li>1234 Something st</li>
          <li>(310) 333-3333</li>
          <li>seniorlivingervices@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form>
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>          
          <p>
            <label>Service</label>
            <input type="text" name="Service" list="services">
              <datalist id="services">
                  <option value="Independant Living">
                  <option value="Assisted Living">
                  <option value="Memory Care"> 
                  <option value="Other">
                  <option value="None">
              </datalist>            
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p>
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p>
            <button>Submit</button>
          </p>
        </form>
      </div>
    
  </div>